.bodylol {
  margin: 0;
  padding: 0;
}

.mobile {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
}

.mobile__nav {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #191e1e;
  padding: 80px 60px 60px 40px;
  z-index: 10;
  box-sizing: border-box;
  overflow-y: scroll;
}
.mobile__main {
  position: relative;
  height: 100%;
  width: 100%;
}

.mobile__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 0px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.mobile__close img {
  height: 18px;
  filter: invert(1);
}
.mobile__main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobile__main > div:not(.mobile__ul) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  font-size: 29px;
  font-family: OpenSans, sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding: 15px 0;
  border-bottom: 1px solid #666;
  box-sizing: border-box;
}
.mobile__ul {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0px solid #666;
  font-family: OpenSans;
  font-weight: 400;
  font-size: 21px;
  display: none;
}

.mobile__arrow {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  -webkit-transform: rotate(45deg) translate(-5px, 5px) scale(1);
  transition: transform 0.2s ease-out;
  border: solid #98afae;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  display: block;
}

.mobile__main a {
  text-decoration: none;
  color: #ffffff;
}

.mobile__arrow {
}

.mobile__ul a {
  color: #98afae;
}

.mobile__ul a:hover {
  color: #6db33f;
}

.mobile__ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.mobile__ul > ul {
  font-family: OpenSans;
  font-weight: 400;
  font-size: 21px;
  padding-inline-start: 0px;
  margin: 0;
}

.navcont__logo {
  position: relative;
  width: 200px;
  height: 100%;
}

.navcont__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@font-face {
  src: url(fonts/OpenSans-Bold.ttf);
  font-family: OpenSansBold;
}

@font-face {
  src: url(fonts/open-sans.otf);
  font-family: OpenSans;
}

.navcont__logo img {
  height: 48px;
  max-width: 250px;
}

@font-face {
  src: url(fonts/Metropolis-Bold.otf);
  font-family: Metropolis;
}

@font-face {
  src: url(fonts/Metropolis-Medium.otf);
  font-family: MetropolisMedium;
}

@font-face {
  src: url(fonts/metropolis.regular.otf);
  font-family: MetropolisRegular;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 73px;
  color: #191e1e;
}

.navcont__list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-right: 0px;
  height: 100%;
  min-width: 590px;
}

.navcont__list :last-child {
  margin-right: 0px;
}

.navcont__list > div {
  box-sizing: border-box;
  padding-top: 25px;
  height: 100%;
  margin-right: 30px;
  font-size: 0.9375rem;
  display: inline-block;
  font-family: Metropolis;
  font-weight: 700;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.navcont__hamburger {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navcont__hamburger > div {
  width: 19px;
  height: 3px;
  background: black;
  margin: 0 0 3px;
  transition: background 0.2s ease;
}

.navcont__hamburger:hover {
  cursor: pointer;
}

.navcont__hamburger:hover > div {
  background-color: #6db33f;
}

.navcont__list a:hover {
  color: #6db33f !important;
}

.input {
  display: flex;
  justify-content: center;
  margin-left: 200px;


}

.input input{
  
  outline: none;
  padding: 10px 5px;
  font-family: MetropolisRegular;
  border-radius: 10px;
  color: white;
  background-color: #6db33f;
  font-size: 18px;
}

.input ::-webkit-input-placeholder{
  color:white
}

.projects {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 390px;
  padding: 105px 0px 90px 0px;
  margin-left: 20px;
  box-sizing: border-box;
}

.projects__cont {
  display: flex;
  flex-direction: column;
  width: 1180px;
  box-sizing: border-box;
}

.projects__textname {
  font-family: Metropolis, sans-serif;
  font-size: 3.75rem;
  color: #191e1e;
}

.projects__text {
  margin-top: 24px;
  font-family: MetropolisRegular;
  font-size: 24px;
  line-height: 41px;
}

.nav hr {
  display: block;
  margin: 0px;
  width: 100%;
  height: 1px;
  border: 0;
  background: rgb(235, 242, 242);
}

.container {
  position: relative;
  width: 100%;

  background-color: rgb(235, 242, 242);
  overflow: hidden;
}

.container__main {
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 0px auto;
  box-sizing: border-box;
  padding: 35px 2px 35px 220px;
}

.container__item {
  width: 445px;
  height: 252px;
  background-color: white;
  margin: 0px;
  display: flex;
  margin: 13px;
  border-radius: 5px;
  padding: 30px 20px 30px 40px;
  box-sizing: border-box;
  border: 1px solid #d9e9e9;
  transition: 0.2s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.container__item:hover {
  transition: all 0.2s, transform 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 0 rgb(108 135 135 / 20%);
  cursor: pointer;
}

.container__body > img {
  width: 69px;
  height: 60px;
}

.container__body {
  width: 100%;
  height: 170px;
}

.container__main h3 {
  margin: 0px;
  width: 80%;
  margin: -60px 0 0 90px;
  top: 5px;
  font-family: MetropolisMedium;
  font-size: 24px;
}

.container__text {
  width: 75%;
  font-family: MetropolisRegular;
  font-size: 16px;
  margin: 20px 0 0 90px;
  line-height: 27px;
  color: #333333;
}

.container__noresults {
  font-family: MetropolisMedium;
  margin-left:  280px;
}

.navcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
  height: 100%;
  width: 1180px;
  box-sizing: border-box;
}

.navcont__list ul {
  position: absolute;
  width: 230px;
  background: white;
  font-family: MetropolisRegular;
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
  top: 72px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.2s opacity, 0.2s visibility;
}
.navcont__list li {
  list-style-type: none;
  line-height: 30px;
}

.nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #333333;
}
.navcont__list img {
  margin-left: 3px;
  height: 10px;
  opacity: 0.7;
}

.nav a:visited {
  color: #191e1e;
}

.navcont__community {
  right: -20px;
  width: 190px !important;
}

.navcont__whyspring {
  left: 0px;
}

.navcont__learn {
  left: 120px;
}

.navcont__project {
  left: 200px;
}

.navcont__whyspring_button:hover ~ .navcont__whyspring {
  opacity: 1;
  visibility: visible;
}

.navcont__list ul:hover {
  visibility: visible;
  opacity: 1;
}
.navcont__learn_button:hover ~ .navcont__learn {
  opacity: 1;
  visibility: visible;
}
.navcont__projects_button:hover ~ .navcont__project {
  opacity: 1;
  visibility: visible;
}
.navcont__community_button:hover ~ .navcont__community {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .navcont__list {
    padding-right: 50px;
  }

  .navcont {
    width: 100%;
  }
  .projects__cont {
    padding-right: 20px;
  }
  .container__main {
    width: 1000px;
    padding: 35px 0px 35px 8px;
  }
  .navcont__list ul {
    width: 210px;
  }
  .navcont__community {
    right: -10px;
  }
  .navcont__logo {
    width: 115px;
  }
  .navcont__logo img {
    width: 115px;
  }
  .container__noresults{
    margin: 0 auto;
  }
  .input{
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    height: 450px;
  }

  .container__main {
    width: 100%;
    justify-content: center;
  }

  .container__item {
    width: 45%;

    padding-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .navcont__list {
    display: none;
  }
  .navcont__hamburger {
    display: flex;
  }

  .nav {
    height: 45px;
  }

  .navcont__logo img {
    height: 44px;
  }
}

@media screen and (max-width: 800px) {
  .container__item {
    width: 96.5%;
  }
  .container__item h3 {
    font-size: 20px;
  }

  .container__item img {
    margin-right: 200px;
  }

  .projects__textname {
    font-size: 48px;
  }

  .projects__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .projects__text {
    font-size: 17px;
  }
}
